* {
    box-sizing: border-box;
}


  

body {
    overflow: hidden;
    margin: 10px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Nanum Myeongjo', serif;
}

a{
    color: #9cef9f;
}